<h1>About</h1>

<h2>Depth-first Design</h2>
<p>Depth-first design is a term used to describe a special strategy and brand of software development.  Though nearly every developer and designer these days favors minimalism and simplicity (in both aesthetics/UI and code organization), those of us who are depth-first designers like to extend that all the way up the product lifecycle, process management, and design process.  A software team that designs depth-first means as a team we see a problem through, start to finish, in the most logical, quick, and democratic way we sit fit -- these are all principles of the <a href="http://en.wikipedia.org/wiki/Depth-first_search">Depth-first search algorithm</a>.  After we reach the end of the metaphorical tree and have a fully-functional working prototype (a minimum value prototype in <a href="http://en.wikipedia.org/wiki/Lean_software_development">Lean</a> terminology), we can then go back and fill in the leaves and to make a more perfect solution, better able to estimate each of these features along the way</p>

<p>
I definitely don't claim this is a novel or unique strategy, but I believe it's important to codify and formalize that the <b>completion</b> of a clean, working product is paramount.  Having a clean sight of the end goal is crucial while solving unique, detail-oriented problems, without getting too caught up in specific nomenclature or trappings of a "methodology du jour".  That's why though I love software development life management methodologies like <a href="http://en.wikipedia.org/wiki/Agile_software_development">Agile</a>, <a href="http://en.wikipedia.org/wiki/Scrum_(software_development)">Scrum</a>, and <a href="http://en.wikipedia.org/wiki/Kanban_(development)">Kanban</a>, I only take the leanest and most useful parts of each to work with me.
</p>

<h2>Contact Me!</h2>

<h3>Simon Kaluza</h3>

<p>I'm a passionate technologist and engineer with a specialization in designing and implementing <a href="http://en.wikipedia.org/wiki/Health_Insurance_Portability_and_Accountability_Act">HIPAA secure</a> healthcare information systems. I'm currently employed as chief technology officer of <a href="https://inboxhealth.com">Inbox Health</a> leading the engineering, cloud deployment and systems administration teams.</p>