<h1>Home</h1>
<p>Welcome to my first Ember.js site!  Think of this as a combination of a business card and a fun place for me to test out various Ember.js MVC and other cutting edge javascript concepts and see how they compare to my favorite server-side MVC, Ruby on Rails!</p>